<% include partials/header %>

<div id="blogsIndex" class="ui main text container">
    <div class="ui huge header centered">DISRUPTER</div>
    <p id="desc">Blog about disruptive tech ideas, or simply about stuff you love!</p>
    <% if(blogs.length > 0) { %>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%blogs.forEach(function(blog){ %>
                <div class="item">
                    <div class="image">
                        <% if(blog.imageLink) { %>
                            <img src="/<%= blog.imageLink %>" >
                        <% } else { %>
                            <img src="http://www.iconsfind.com/wp-content/uploads/2015/10/20151021_56272ba07d60f.png" >
                        <% } %>
                    </div>
                    <div class="content">
                        <% if(blog.title) { %>
                            <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <% } %>
                        <br/>
                        By <a><%= blog.author.username %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %> <%= blog.created.toLocaleTimeString([], {timeZone: 'America/Toronto', hour: '2-digit', minute:'2-digit'}) %> EST</span>  
                        </div>
                        <% if(blog.body) { %>
                            <div class="description">
                                <p><%- blog.body.substring(0, 100) %>...</p>  
                            </div>
                        <% } %>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                Read More
                                <i class="chevron right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <% } %>
</div>

<% include partials/footer %>