<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="margined">By <a><%= blog.author.username %></a></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %> <%= blog.created.toLocaleTimeString([], {timeZone: 'America/Toronto', hour: '2-digit', minute:'2-digit'}) %> EST</span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
                <div class="margined">
                    <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
                    <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                        <button class="ui red basic button">DELETE</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
    
    <div class="ui secondary segment">
        <form class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
            <div class="field">
                <textarea rows="1" type="text" name="comment[text]" placeholder="Write a comment..."></textarea>
            </div>
            <button type="submit" class="ui green basic button">ADD COMMENT</button>
        </form>
    </div>
    
            <%blog.comments.forEach(function(comment){ %>
                <div class="ui feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a><%= comment.author.username %></a> commented on this blog
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <form id="delete" action="blogs/<%=blog._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="ui right floated tiny red basic button">DELETE</button>
                                    </form>
                                <% } %>
                                <div class="date">
                                    <%= comment.created.toDateString() %> <%= comment.created.toLocaleTimeString([], {timeZone: 'America/Toronto', hour: '2-digit', minute:'2-digit'}) %> EST
                                </div>
                            </div>
                            <div class="extra text"><%= comment.text %></div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<% include partials/footer %>